<h2>Products</h2>
<div *ngFor="let product of products">
  <h3>
    <a
      [title]="product.name + ' details'"
      [routerLink]="['/products2', product.id]"
    >
      {{ product.name }}
    </a>
  </h3>
  <p *ngIf="product.image">
    <img src="{{ product.image }}" width="120px" />
  </p>
  <p *ngIf="product.rating">Rating:{{ product.rating }}</p>
  <p *ngIf="product.description">
    {{ product.description }}
  </p>

  <a
    [href]="
      'https://api.whatsapp.com/send?phone=77479500720&text=%D0%AF%20%D1%85%D0%BE%D1%82%D0%B5%D0%BB%20%D0%BA%D1%83%D0%BF%D0%B8%D1%82%D1%8C%20' +
      product.link
    "
    target="_blank"
  >
    <button>Share</button>
  </a>
  <app-product-alerts [product]="product" (notify)="onNotify()">
  </app-product-alerts>
  <button
    (click)="remove(product.id)"
    style="background-color: indianred; margin-top: 10px"
  >
    Remove
  </button>
</div>
